@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body,
#app-root {
  height: 100%;
}

::-webkit-scrollbar {
  display: none;
}

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
