<aside
  id="default-sidebar"
  class="bg-gradient-to-b from-cyan-500 to-cyan-200 h-full"
  aria-label="Sidebar"
>
  <div class="h-full px-3 py-4 overflow-y-auto bg-cryan-50 dark:bg-cryan-800">
    <ul class="space-y-2 font-medium">
      <li>
        <a
          class="hover:cursor-pointer"
          routerLink=""
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
        >
          <span class="flex-1 ms-3 whitespace-nowrap text-white font-bold"
            >Tasks</span
          ></a
        >
      </li>

      <li>
        <a
          class="hover:cursor-pointer"
          routerLink="/analytics"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
        >
          <!-- 📶 -->
          <span class="flex-1 ms-3 whitespace-nowrap text-white font-bold"
            >Analytics</span
          ></a
        >
      </li>

      <li>
        <a
          class="hover:cursor-pointer"
          routerLink="/profile"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
        >
          <span class="flex-1 ms-3 whitespace-nowrap text-white font-bold"
            >Profile</span
          ></a
        >
      </li>
    </ul>
  </div>
</aside>
